AuroraAddIns/packages/
AuroraAddIns/AuroraUIMockup/obj/
AuroraAddIns/AuroraUIMockup/bin/
AuroraAddIns/AuroraAddInsTests/obj/
AuroraAddIns/AuroraAddInsTests/bin/
AuroraAddIns/AuroraAddIns/obj/
AuroraAddIns/AuroraAddIns/bin/
AuroraAddIns/AuroraAddInsPersist/obj/
